<div class="row text-center">
    <div class="large-12 columns">
        <h1>IMDb Top 250</h1>
        <a href="#/">Search Movies</a>&nbsp;&nbsp;&nbsp;
        <a href="#/gallery">View Gallery</a>
        <br>
        <br>
    </div>
</div>

<div class="row text-center">
    <div class="large-12 columns">
        <div class="gallery-genre" ng-repeat="genre in genres">
            <a ng-if="selectedGenre != genre" ng-click="changeGenre(genre)">{{ genre == '' ? 'All' : genre }}</a>
            <span ng-if="selectedGenre == genre">< {{ genre == '' ? 'All' : genre }} ></span>
        </div>
        <br>
        <br>
    </div>
</div>
<div class="row text-center">
    <div class="large-12 columns">
        <div class="gallery-item" ng-repeat="movie in filtered = (movies | filter:{genre: selectedGenre})">
            <a ng-href="#/details?rank={{ movie.rank }}"><img ng-src="data/images/{{ movie.imdbID }}.jpg"></a>
        </div>
    </div>
</div>
<br>
<div class="row text-center">
    <div class="large-12 columns">
        <p>Showing {{ filtered.length }} movie(s).</p>
    </div>
</div>
<br>